<!--
<div id="content-body">
  <h1>Website componenten style guide blah</h1>
  <div>
    <h2><code>&lt;mat-input-container&gt;</code></h2>
    <div class="style-item">
      <h3>Telephone number</h3>
      &lt;!&ndash;<p>example for telephone number</p>&ndash;&gt;
      <div id="style-guide-input">
        <mat-form-field class="">
          <span matPrefix>+33 &nbsp;</span>
          &lt;!&ndash;<input type="tel" matInput placeholder="Telephone">&ndash;&gt;
          <input type="tel" matInput placeholder="Telephone" value='641396022'>
        </mat-form-field>
      </div>
      <h3>Email address</h3>
      &lt;!&ndash;<p>email example of input field</p>&ndash;&gt;
      <div id="style-guide-input-email">
        <mat-form-field class="">
          &lt;!&ndash;<input type="tel" matInput placeholder="Telephone">&ndash;&gt;
          <input type="email" matInput placeholder="Emailadres" value='ids@thinksystems.nl' requ>
        </mat-form-field>
      </div>
      <h3>Message input</h3>
      &lt;!&ndash;<p>Name: Input-uileg</p>&ndash;&gt;
      <div id="style-guide-input-explainatory-input">
        <mat-form-field class="">
          <input matInput #message maxlength="256" placeholder="Message" required>
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>
      <h3>Text area</h3>
      &lt;!&ndash;<p>Name: Input-uileg</p>&ndash;&gt;
      <div id="style-guide-input-explainatory-textarea">
        <p> TODO Text area example </p>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;mat-select&gt;</code></h2>
      &lt;!&ndash;<h3>Selectbox</h3>&ndash;&gt;
      &lt;!&ndash;<p>extra info: none</p>&ndash;&gt;
      <div id="style-guide-select">
        <mat-select placeholder="Favorite food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </div>

      <h3>Pre selected selectbox</h3>
      &lt;!&ndash;<p>extra info: none</p> &ndash;&gt;
      <div id="style-guide-select-pre-selected">
&lt;!&ndash; Rewrite to reactive from implementation
      <mat-select placeholder="Favorite food" [(ngModel)]="this.selectedValue" title="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
&ndash;&gt;
        <p> Selected value: {{selectedValue}} </p>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;mat-checkbox&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-check-box">
        <mat-checkbox>Check me!</mat-checkbox><mat-checkbox checked="true">Checked!</mat-checkbox>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;mat-datepicker&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-date-picker">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;mat-datepicker&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-radio-button-group">
        <mat-radio-group>
          <mat-radio-button value="1">Option 1</mat-radio-button>
          <mat-radio-button value="2" checked="true">Option 2</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;mat-slider&gt;</code></h2>
        <p>extra info: none<mat-icon>keyboard_arrow_right</mat-icon></p>
      <div id="style-guide-slider">
        <mat-slider ></mat-slider>
        <mat-slider min="1" max="5" step="0.5" value="3.5"></mat-slider>
      </div>
    </div>

    <div class="style-item">
      <h3><code>&lt;mat-slide-toggle&gt;</code></h3>
      <p>extra info: none</p>
      <div id="style-guide-slide-toggle">
        <mat-slide-toggle>Slide me!</mat-slide-toggle>
        <mat-slide-toggle checked="true">Slide me!</mat-slide-toggle>
      </div>
    </div>

    <h2>Navigation</h2>

    <div class="style-item">
      <h3><code>&lt;mat-menu&gt;</code></h3>
      <p>extra info: none</p>
      <div id="style-guide-menu">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu>
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;mat-sidenav-container&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-side-nave-container">
        <mat-sidenav-container class="example-container">
          <mat-sidenav #sidenav class="example-sidenav">
            Jolly good!
          </mat-sidenav>

          <div class="example-sidenav-content">
            <button type="button" mat-button (click)="sidenav.open()">
              Open sidenav
            </button>
          </div>

        </mat-sidenav-container>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;mat-toolbar&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-tool-bar">
        <mat-toolbar>My App</mat-toolbar>
      </div>
    </div>

    <h2>Layout</h2>

    <div class="style-item">
      <h2><code>&lt;mat-list&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-list">
        <mat-list>
          <mat-list-item>Item 1</mat-list-item>
          <mat-list-item>Item 2</mat-list-item>
          <mat-list-item>Item 3</mat-list-item>
        </mat-list>
      </div>
    </div>

&lt;!&ndash; When we need this put this back on the page. &ndash;&gt;
    <div class="style-item">
      <h2><code>&lt;mat-grid&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-grid">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>card 1</mat-grid-tile>
          <mat-grid-tile>card 2</mat-grid-tile>
          <mat-grid-tile>card 3</mat-grid-tile>
          <mat-grid-tile>card 4</mat-grid-tile>
        </mat-grid-list>

      </div>
    </div>


    <div class="style-item">
      <h2><code>&lt;mat-card&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-card">
        <mat-card>Simple card</mat-card>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;mat-tab-group&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-tab-group">
        <mat-tab-group>
          <mat-tab label="Tab 1">Content 1</mat-tab>
          <mat-tab label="Tab 2">Content 2</mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <h2>Buttons, Indicators & Icons</h2>

    <div class="style-item">
      <h2><code>&lt;mat-button&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-button">
        <button mat-button>Click me!</button>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;mat-button-toggle&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-button-toggle">
        <mat-button-toggle>Toggle me!</mat-button-toggle>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;mat-chip&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-chip">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip *ngFor="let chipColor of availableColors"
                   selected="true"
                   color="{{chipColor.color}}">
            {{chipColor.title}}
          </mat-chip>
        </mat-chip-list>

      </div>
    </div>

    <div><mat-card class="margin-minus-small-layout">Simple card</mat-card>
    </div>

    <div>
      <p>gebruikt cookies (en andere technieken) en verzamelt daarmee informatie over het gebruik van de website onder andere om deze te analyseren en te verbeteren, voor social media en om er voor te zorgen dat je voor jou relevante informatie en advertenties te zien krijgt. Meer weten over deze cookies, klik hiernaast op "Meer informatie". Door gebruik te maken van deze website of door hiernaast op akkoord te drukken, geef je aan akkoord te zijn met het gebruik van cookies </p>
    </div>

    &lt;!&ndash; todo decide if we are doing ICONS this way
    <div class="style-item">
      <h2><code>&lt;mat-&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-svg-icons">
        <icon-svg-example>Loading Material Docs example...</icon-svg-example>
      </div>
    </div>
    &ndash;&gt;

    <div class="style-item">
      <h2><code>&lt;mat-spinner&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;mat-progress-bar&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-progress-bar">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>


    <h2></h2>

    <div class="style-item">
      <h2><code>&lt;mat-&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-open-dialog">
        <button mat-button (click)="openDialog()">Open dialog</button>
      </div>
    </div>

    <div class="style-item">
      <h2><code>mdTooltip="Tooltip!"</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-tooltip">
        <span mdTooltip="Tooltip!">I have a tooltip</span>
      </div>
    </div>

    <div class="style-item">
      <h2><code>&lt;button mat-button&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-snackbar">
        <button mat-button (click)="openSnackBar('Recipe is Ready..', 'Lets eat!!')" aria-label="Show an example snack-bar">
          Recipe party
        </button>

      </div>
    </div>


    <h2></h2>

    &lt;!&ndash; todo decide if we want to do tables with mat-table.
    <div class="style-item">
      <h2><code>&lt;mat-table&gt;</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-table">
      </div>
    </div> &ndash;&gt;

    <div class="style-item">
      <h2><code>mat-sortheader=""</code></h2>
      <p>extra info: none</p>
      <div id="style-guide-sort">
        <table mdSort (mdSortChange)="sortData($event)">
          <tr>
            <th mat-sort-header="title">Dessert (100g)</th>
            <th mat-sort-header="calories">Calories</th>
            <th mat-sort-header="fat">Fat (g)</th>
            <th mat-sort-header="carbs">Carbs (g)</th>
            <th mat-sort-header="protein">Protein (g)</th>
          </tr>

          <tr *ngFor="let dessert of sortedData">
            <td>{{dessert.title}}</td>
            <td>{{dessert.calories}}</td>
            <td>{{dessert.fat}}</td>
            <td>{{dessert.carbs}}</td>
            <td>{{dessert.protein}}</td>
          </tr>
        </table>
      </div>
    </div>

    &lt;!&ndash; TODO fix paginator
    <div class="style-item">
      <h2><code>&lt;mat-paginator&gt;</code></h2>
      <p>extra info: none</p>
      <mat-paginator [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
      <div id="style-guide-paginator">
      </div>
    </div>
    &ndash;&gt;

    <h2>ICONS and size of ICONS to use</h2>

    <div class="style-item">
      <h2><code>&lt;mat-icon&gt;</code></h2>
      <p>These are icons and there sizes we are going to use.</p>
      &lt;!&ndash; todo some icons are missing but why &ndash;&gt;
      <div id="style-guide-icons-xl">
        Icons size: xl
        <mat-icon class="xl"  mat-tooltip="mode_edit">mode_edit</mat-icon>
        <mat-icon class="xl"  mat-tooltip="keyboard_arrow_right">keyboard_arrow_right</mat-icon>
        <mat-icon class="xl"  mat-tooltip="file_download">file_download</mat-icon>
        <mat-icon class="xl"  mat-tooltip="file_upload">file_upload</mat-icon>
        <mat-icon class="xl"  mat-tooltip="comment">comment</mat-icon>
        <mat-icon class="xl"  mat-tooltip="email">email</mat-icon>
        <mat-icon class="xl"  mat-tooltip="mail_outline">mail_outline</mat-icon>
        <mat-icon class="xl"  mat-tooltip="send">send</mat-icon>
        <mat-icon class="xl"  mat-tooltip="add">add</mat-icon>
        <mat-icon class="xl"  mat-tooltip="remove">remove</mat-icon>
        <mat-icon class="xl"  mat-tooltip="sort">sort</mat-icon>
        <mat-icon class="xl"  mat-tooltip="arrow_back">arrow_back</mat-icon>
        <mat-icon class="xl"  mat-tooltip="arrow_downward">arrow_downward</mat-icon>
        <mat-icon class="xl"  mat-tooltip="arrow_drop_down">arrow_drop_down</mat-icon>
        <mat-icon class="xl"  mat-tooltip="arrow_drop_up">arrow_drop_up</mat-icon>
        <mat-icon class="xl"  mat-tooltip="arrow_foward">arrow_foward</mat-icon>
        <mat-icon class="xl"  mat-tooltip="arrow_upward">arrow_upward</mat-icon>
        <mat-icon class="xl"  mat-tooltip="cancal">cancal</mat-icon>
        <mat-icon class="xl"  mat-tooltip="check">check</mat-icon>
        <mat-icon class="xl"  mat-tooltip="chevron_left">chevron_left</mat-icon>
        <mat-icon class="xl"  mat-tooltip="chevron_right">chevron_right</mat-icon>
        <mat-icon class="xl"  mat-tooltip="exapand_less">exapand_less</mat-icon>
        <mat-icon class="xl"  mat-tooltip="expand_more">expand_more</mat-icon>
        <mat-icon class="xl"  mat-tooltip="menu">menu</mat-icon>
        <mat-icon class="xl"  mat-tooltip=""></mat-icon>
      </div>

      <div id="style-guide-icons-default">
        Icons size: default
        <mat-icon mat-tooltip="mode_edit">mode_edit</mat-icon>
        <mat-icon mat-tooltip="keyboard_arrow_right">keyboard_arrow_right</mat-icon>
        <mat-icon mat-tooltip="file_download">file_download</mat-icon>
        <mat-icon mat-tooltip="file_upload">file_upload</mat-icon>
        <mat-icon mat-tooltip="comment">comment</mat-icon>
        <mat-icon mat-tooltip="email">email</mat-icon>
        <mat-icon mat-tooltip="mail_outline">mail_outline</mat-icon>
        <mat-icon mat-tooltip="send">send</mat-icon>
        <mat-icon mat-tooltip="add">add</mat-icon>
        <mat-icon mat-tooltip="remove">remove</mat-icon>
        <mat-icon mat-tooltip="sort">sort</mat-icon>
        <mat-icon mat-tooltip="arrow_back">arrow_back</mat-icon>
        <mat-icon mat-tooltip="arrow_downward">arrow_downward</mat-icon>
        <mat-icon mat-tooltip="arrow_drop_down">arrow_drop_down</mat-icon>
        <mat-icon mat-tooltip="arrow_drop_up">arrow_drop_up</mat-icon>
        <mat-icon mat-tooltip="arrow_foward">arrow_foward</mat-icon>
        <mat-icon mat-tooltip="arrow_upward">arrow_upward</mat-icon>
        <mat-icon mat-tooltip="cancal">cancal</mat-icon>
        <mat-icon mat-tooltip="check">check</mat-icon>
        <mat-icon mat-tooltip="chevron_left">chevron_left</mat-icon>
        <mat-icon mat-tooltip="chevron_right">chevron_right</mat-icon>
        <mat-icon mat-tooltip="exapand_less">exapand_less</mat-icon>
        <mat-icon mat-tooltip="expand_more">expand_more</mat-icon>
        <mat-icon mat-tooltip="menu">menu</mat-icon>
        <mat-icon mat-tooltip=""></mat-icon>
      </div>

      <div id="style-guide-icons">
        Icons size: small
        <mat-icon class="s"  mat-tooltip="mode_edit">mode_edit</mat-icon>
        <mat-icon class="s"  mat-tooltip="keyboard_arrow_right">keyboard_arrow_right</mat-icon>
        <mat-icon class="s"  mat-tooltip="file_download">file_download</mat-icon>
        <mat-icon class="s"  mat-tooltip="file_upload">file_upload</mat-icon>
        <mat-icon class="s"  mat-tooltip="comment">comment</mat-icon>
        <mat-icon class="s"  mat-tooltip="email">email</mat-icon>
        <mat-icon class="s"  mat-tooltip="mail_outline">mail_outline</mat-icon>
        <mat-icon class="s"  mat-tooltip="send">send</mat-icon>
        <mat-icon class="s"  mat-tooltip="add">add</mat-icon>
        <mat-icon class="s"  mat-tooltip="remove">remove</mat-icon>
        <mat-icon class="s"  mat-tooltip="sort">sort</mat-icon>
        <mat-icon class="s"  mat-tooltip="arrow_back">arrow_back</mat-icon>
        <mat-icon class="s"  mat-tooltip="arrow_downward">arrow_downward</mat-icon>
        <mat-icon class="s"  mat-tooltip="arrow_drop_down">arrow_drop_down</mat-icon>
        <mat-icon class="s"  mat-tooltip="arrow_drop_up">arrow_drop_up</mat-icon>
        <mat-icon class="s"  mat-tooltip="arrow_foward">arrow_foward</mat-icon>
        <mat-icon class="s"  mat-tooltip="arrow_upward">arrow_upward</mat-icon>
        <mat-icon class="s"  mat-tooltip="cancal">cancal</mat-icon>
        <mat-icon class="s"  mat-tooltip="check">check</mat-icon>
        <mat-icon class="s"  mat-tooltip="chevron_left">chevron_left</mat-icon>
        <mat-icon class="s"  mat-tooltip="chevron_right">chevron_right</mat-icon>
        <mat-icon class="s"  mat-tooltip="exapand_less">exapand_less</mat-icon>
        <mat-icon class="s"  mat-tooltip="expand_more">expand_more</mat-icon>
        <mat-icon class="s"  mat-tooltip="menu">menu</mat-icon>
        <mat-icon class="s"  mat-tooltip=""></mat-icon>
      </div>
      <div id="style-guide-icons">
        Icons size: extra small
        <mat-icon class="xs"  mat-tooltip="mode_edit">mode_edit</mat-icon>
        <mat-icon class="xs"  mat-tooltip="keyboard_arrow_right">keyboard_arrow_right</mat-icon>
        <mat-icon class="xs"  mat-tooltip="file_download">file_download</mat-icon>
        <mat-icon class="xs"  mat-tooltip="file_upload">file_upload</mat-icon>
        <mat-icon class="xs"  mat-tooltip="comment">comment</mat-icon>
        <mat-icon class="xs"  mat-tooltip="email">email</mat-icon>
        <mat-icon class="xs"  mat-tooltip="mail_outline">mail_outline</mat-icon>
        <mat-icon class="xs"  mat-tooltip="send">send</mat-icon>
        <mat-icon class="xs"  mat-tooltip="add">add</mat-icon>
        <mat-icon class="xs"  mat-tooltip="remove">remove</mat-icon>
        <mat-icon class="xs"  mat-tooltip="sort">sort</mat-icon>
        <mat-icon class="xs"  mat-tooltip="arrow_back">arrow_back</mat-icon>
        <mat-icon class="xs"  mat-tooltip="arrow_downward">arrow_downward</mat-icon>
        <mat-icon class="xs"  mat-tooltip="arrow_drop_down">arrow_drop_down</mat-icon>
        <mat-icon class="xs"  mat-tooltip="arrow_drop_up">arrow_drop_up</mat-icon>
        <mat-icon class="xs"  mat-tooltip="arrow_foward">arrow_foward</mat-icon>
        <mat-icon class="xs"  mat-tooltip="arrow_upward">arrow_upward</mat-icon>
        <mat-icon class="xs"  mat-tooltip="cancal">cancal</mat-icon>
        <mat-icon class="xs"  mat-tooltip="check">check</mat-icon>
        <mat-icon class="xs"  mat-tooltip="chevron_left">chevron_left</mat-icon>
        <mat-icon class="xs"  mat-tooltip="chevron_right">chevron_right</mat-icon>
        <mat-icon class="xs"  mat-tooltip="exapand_less">exapand_less</mat-icon>
        <mat-icon class="xs"  mat-tooltip="expand_more">expand_more</mat-icon>
        <mat-icon class="xs"  mat-tooltip="menu">menu</mat-icon>
        <mat-icon class="xs"  mat-tooltip=""></mat-icon>
      </div>


    </div>

    <h2>Fonts and Sizes to use.</h2>

    <div class="style-item">
      <h2><code>&lt;h1 class="h1-xl"&gt;Title Text&lt;h1&gt;</code></h2>
      <p>These are icons and there sizes we are going to use.</p>
      <div id="style-guide-fonts">
        <ul>
          <li>Font Familiy is Roboto</li>
          <li><h1 class="h1-xl">Font size (Page Titles XL)</h1></li>
          <li><h1 class="h1-sm">Font size (Page Titles sm)</h1></li>
          <li><h2 class="h2-xl">Font size (Page Titles XL)</h2></li>
          <li><h2 class="h2-sm">Font size (Page Titles sm)</h2></li>
          <li><h3 class="h3-xl">Font size (Page Titles XL)</h3></li>
          <li><h3 class="h3-sm">Font size (Page Titles sm)</h3></li>
          <li><h4 class="h4-xl">Font size (Page Titles XL)</h4></li>
          <li><h4 class="h4-sm">Font size (Page Titles sm)</h4></li>
          <li><h5 class="h5-xl">Font size (Page Titles XL)</h5></li>
          <li><h5 class="h5-sm">Font size (Page Titles sm)</h5></li>
          <li><p class="p-xl">body text large Page Titles XL)</p></li>
          <li><p class="p-sm">body text small Page Titles SM)</p></li>
        </ul>
      </div>
    </div>


    <h2>Fonts using Material Typography.</h2>
    <div class="style-item">
      <h2><code>&lt;h1 class="mat-display-1"&gt;Title Text&lt;h1&gt;</code></h2>
      <p>These are icons and there sizes we are going to use.</p>
      <div id="style-guide-fonts-mat">
        <ul>
          <li>Font Familiy is Roboto</li>
          <li><h1 class="mat-display-1">H1 size (Page Titles XL)</h1></li>
          <li><h1 class="h1-sm">Font size (Page Titles sm)</h1></li>
          <li><h2 class="mat-h2">H2 Font size (Page Titles XL)</h2></li>
          <li><h2 class="h2-sm">Font size (Page Titles sm)</h2></li>
          <li><h3 class="h3-xl">Font size (Page Titles XL)</h3></li>
          <li><h3 class="h3-sm">Font size (Page Titles sm)</h3></li>
          <li><h4 class="h4-xl">Font size (Page Titles XL)</h4></li>
          <li><h4 class="h4-sm">Font size (Page Titles sm)</h4></li>
          <li><h5 class="h5-xl">Font size (Page Titles XL)</h5></li>
          <li><h5 class="h5-sm">Font size (Page Titles sm)</h5></li>
          <li><p class="p-xl">body text large Page Titles XL)</p></li>
          <li><p class="p-sm">body text small Page Titles SM)</p></li>
        </ul>
        <p>Second option surround everything with a <code><section class="mat-typography"></section></code></p>
        <section class="mat-typography">
          <h1>H1 size (Page Titles XL) via section</h1>
        </section>
      </div>
    </div>


    <h2>Svg's</h2>

    <div class="style-item">
      <h2><code>&lt;h1 class="h1-xl"&gt;Using SVG's in pages&lt;h1&gt;</code></h2>
      <p>How do we use SVG's in our website</p>
      <div id="style-guide-svgs">
        <img src="assets/CremeVanoudsLogo.svg" style="height:177px">Creme Vanouds Logo size for in header
        <img src="assets/CremeVanoudsLogo.svg" style="height:119px">Creme Vanouds Logo size for in footer
        <img src="assets/RechterBovenHoek1_WithShadow.svg"  style="height:44px">Corner decoration for in footer
        &lt;!&ndash; TODO check out if scaling is need for different device sizes for pictures like the one below. &ndash;&gt;
        <img src="assets/caferacer.jpeg"  style="height:320px" alt="cafe racer">Default picture width for on pages if single picutre
      </div>
    </div>

  </div>
<div>


  <div class="mat-typography">
    <div class="alternate-theme" style="width:100%">
      <mat-toolbar color="primary">
        <a mat-button [routerLink]="['/home']">
          <mat-icon>home</mat-icon>
        </a>
        <a mat-button [routerLink]="['/about-us']" routerLinkActive #rlaAboutUs="routerLinkActive" [color]="rlaAboutUs?.isActive ? 'accent' : ''">
          <h3>About Us</h3>
        </a>
      </mat-toolbar>
    </div>
  </div>


&lt;!&ndash;
  <div>
    <h2>Huisstijl</h2>
  </div>
&ndash;&gt;

  &lt;!&ndash;<div>
    <div class="color-palette">
      <section class="color-group">
        <ul>
          <li class="color main-color" style="background-color: #f44336;">
            <span class="title light-strong">Red</span>
            <span class="shade light-strong">500</span>
            <span class="hex light-strong">#f44336</span>
          </li>
          <li class="color dark" style="background-color: #ffebee;"><span class="shade expanded">50</span><span
            class="hex">#ffebee</span></li>
          <li class="color dark" style="background-color: #ffcdd2;"><span class="shade">100</span><span class="hex">#ffcdd2</span>
          </li>
          <li class="color dark" style="background-color: #ef9a9a"><span class="shade expanded">200</span><span
            class="hex">#ef9a9a</span></li>
          <li class="color dark" style="background-color: #e57373;"><span class="shade">300</span><span class="hex">#e57373</span>
          </li>
          <li class="color" style="background-color: #ef5350;"><span class="shade expanded">400</span><span class="hex">#ef5350</span>
          </li>
          <li class="color" style="background-color: #f44336;"><span class="shade">500</span><span
            class="hex">#f44336</span></li>
          <li class="color" style="background-color: #e53935;"><span class="shade expanded">600</span><span class="hex">#e53935</span>
          </li>
          <li class="color" style="background-color: #d32f2f;"><span class="shade">700</span><span
            class="hex">#d32f2f</span></li>
          <li class="color" style="background-color: #c62828;"><span class="shade expanded">800</span><span class="hex">#c62828</span>
          </li>
          <li class="color" style="background-color: #b71c1c;"><span class="shade expanded">900</span><span class="hex">#b71c1c</span>
          </li>
          <li class="color dark divide" style="background-color: #ff8a80;"><span class="shade accent">A100</span><span
            class="hex">#ff8a80</span></li>
          <li class="color light-strong" style="background-color: #ff5252;"><span
            class="shade accent expanded">A200</span><span class="hex">#ff5252</span></li>
          <li class="color" style="background-color: #ff1744;"><span class="shade accent expanded">A400</span><span
            class="hex">#ff1744</span></li>
          <li class="color" style="background-color: #d50000;"><span class="shade accent">A700</span><span class="hex">#d50000</span>
          </li>
        </ul>
      </section>
      <section class="color-group">
        <ul>
          <li class="color main-color" style="background-color: #E91E63;">
            <span class="title light-strong">Pink</span>
            <span class="shade light-strong">500</span>
            <span class="hex light-strong">#e91e63</span>
          </li>
          <li class="color dark" style="background-color: #fce4ec;"><span class="shade expanded">50</span><span
            class="hex">#fce4ec</span></li>
          <li class="color dark" style="background-color: #f8bbd0;"><span class="shade">100</span><span class="hex">#f8bbd0</span>
          </li>
          <li class="color dark" style="background-color: #f48fb1;"><span class="shade expanded">200</span><span
            class="hex">#f48fb1</span></li>
          <li class="color light-strong" style="background-color: #f06292;"><span class="shade">300</span><span
            class="hex">#f06292</span></li>
          <li class="color " style="background-color: #ec407a;"><span class="shade expanded">400</span><span
            class="hex">#ec407a</span>
          </li>
          <li class="color" style="background-color: #e91e63;"><span class="shade">500</span><span
            class="hex">#e91e63</span></li>
          <li class="color" style="background-color: #d81b60;"><span class="shade expanded">600</span><span class="hex">#d81b60</span>
          </li>
          <li class="color" style="background-color: #c2185b;"><span class="shade">700</span><span
            class="hex">#c2185b</span></li>
          <li class="color" style="background-color: #ad1457;"><span class="shade">800</span><span
            class="hex">#ad1457</span></li>
          <li class="color" style="background-color: #880e4f;"><span class="shade">900</span><span
            class="hex">#880e4f</span></li>
          <li class="color dark divide" style="background-color: #ff80ab;"><span class="shade accent">A100</span><span
            class="hex">#ff80ab</span></li>
          <li class="color light-strong" style="background-color: #ff4081;"><span
            class="shade accent expanded">A200</span><span class="hex">#ff4081</span></li>
          <li class="color" style="background-color: #f50057;"><span class="shade accent expanded">A400</span><span
            class="hex">#f50057</span></li>
          <li class="color" style="background-color: #c51162;"><span class="shade accent">A700</span><span class="hex">#c51162</span>
          </li>
        </ul>
      </section>
      <section class="color-group">
        <ul>
          <li class="color main-color" style="background-color: #9c27b0;">
            <span class="title">Purple</span>
            <span class="shade">500</span>
            <span class="hex">#9c27b0</span>
          </li>
          <li class="color dark" style="background-color: #f3e5f5;"><span class="shade expanded">50</span><span
            class="hex">#f3e5f5</span></li>
          <li class="color dark" style="background-color: #e1bee7;"><span class="shade">100</span><span class="hex">#e1bee7</span>
          </li>
          <li class="color dark" style="background-color: #ce93d8;"><span class="shade expanded">200</span><span
            class="hex">#ce93d8</span></li>
          <li class="color light-strong" style="background-color: #ba68c8;"><span class="shade">300</span><span
            class="hex">#ba68c8</span></li>
          <li class="color light-strong" style="background-color: #ab47bc;"><span class="shade expanded">400</span><span
            class="hex">#ab47bc</span></li>
          <li class="color" style="background-color: #9c27b0;"><span class="shade">500</span><span
            class="hex">#9c27b0</span></li>
          <li class="color" style="background-color: #8e24aa;"><span class="shade expanded">600</span><span class="hex">#8e24aa</span>
          </li>
          <li class="color" style="background-color: #7b1fa2;"><span class="shade">700</span><span
            class="hex">#7b1fa2</span></li>
          <li class="color" style="background-color: #6a1b9a;"><span class="shade expanded">800</span><span class="hex">#6a1b9a</span>
          </li>
          <li class="color" style="background-color: #4a148c;"><span class="shade expanded">900</span><span class="hex">#4a148c</span>
          </li>
          <li class="color dark divide" style="background-color: #ea80fc;"><span class="shade accent">A100</span><span
            class="hex">#ea80fc</span></li>
          <li class="color light-strong" style="background-color: #e040fb;"><span
            class="shade accent expanded">A200</span><span class="hex">#e040fb</span></li>
          <li class="color" style="background-color: #d500f9;"><span class="shade accent expanded">A400</span><span
            class="hex">#d500f9</span></li>
          <li class="color" style="background-color: #aa00ff;"><span class="shade accent">A700</span><span class="hex">#aa00ff</span>
          </li>
        </ul>
      </section>
      <section class="color-group">
        <ul>
          <li class="color main-color" style="background-color: #673ab7;">
            <span class="title">Deep Purple</span>
            <span class="shade">500</span>
            <span class="hex">#673ab7</span>
          </li>
          <li class="color dark" style="background-color: #ede7f6;"><span class="shade expanded">50</span><span
            class="hex">#ede7f6</span></li>
          <li class="color dark" style="background-color: #d1c4e9;"><span class="shade">100</span><span class="hex">#d1c4e9</span>
          </li>
          <li class="color dark" style="background-color: #b39ddb;"><span class="shade expanded">200</span><span
            class="hex">#b39ddb</span></li>
          <li class="color" style="background-color: #9575cd;"><span class="shade">300</span><span
            class="hex">#9575cd</span></li>
          <li class="color" style="background-color: #7e57c2;"><span class="shade expanded">400</span><span class="hex">#7e57c2</span>
          </li>
          <li class="color" style="background-color: #673ab7;"><span class="shade">500</span><span
            class="hex">#673ab7</span></li>
          <li class="color" style="background-color: #5e35b1;"><span class="shade expanded">600</span><span class="hex">#5e35b1</span>
          </li>
          <li class="color" style="background-color: #512da8;"><span class="shade">700</span><span
            class="hex">#512da8</span></li>
          <li class="color" style="background-color: #4527a0;"><span class="shade expanded">800</span><span class="hex">#4527a0</span>
          </li>
          <li class="color" style="background-color: #311b92;"><span class="shade expanded">900</span><span class="hex">#311b92</span>
          </li>
          <li class="color dark divide" style="background-color: #b388ff;"><span class="shade accent">A100</span><span
            class="hex">#b388ff</span></li>
          <li class="color light-strong" style="background-color: #7c4dff;"><span
            class="shade accent expanded">A200</span><span class="hex">#7c4dff</span></li>
          <li class="color" style="background-color: #651fff;"><span class="shade accent expanded">A400</span><span
            class="hex">#651fff</span></li>
          <li class="color" style="background-color: #6200ea;"><span class="shade accent">A700</span><span class="hex">#6200ea</span>
          </li>
        </ul>
      </section>
      <div class="module-end"></div>
    </div>
  </div>&ndash;&gt;
-->
