#section-worked-period-header {
  border: 1px solid $color-brand-green-primairy;
  .textWhite {
    color: $color-brand-white;
  }

  #header-top {
    background-color: $color-brand-green-secondary;
  }

  #header-bottom {
    background-color: $color-brand-green-primairy;
  }

}


@media print {


  #section-worked-period-header .textWhite {
    color: black;
  }

  #header-top {
    //background-color: $color-brand-green-secondary !important;
//    color: black;
    //-webkit-print-color-adjust: exact;
  }

  #header-bottom {
    //background-color: $color-brand-green-primairy !important;
    //-webkit-print-color-adjust: exact;
  }


}



