<span>formExampleFlex-Persoonlijke Gegevens</span>
<form [formGroup]="form">
<div class="container">
  <!-- classic way -->
  <p>Classic way</p>
  <label [formGroup]="form">
    <input type="text" id="achternaam" formControlName="achterNaam" placeholder="reactive input basic" value="{{achterNaam}}" required>
  </label>

  <!-- new way -->
  <p>Persoonlijke gegevens</p>
  <app-input controlName="aanhef" placeholder="Aanhef" [group]="form" value="{{aanhef}}"></app-input>
  <app-input controlName="initialen" placeholder="Initialen" [group]="form" value="{{initialen}}"></app-input>
  <app-input controlName="tussenVoegsel" placeholder="Tussenv." [group]="form" value="{{tussenVoegsel}}"></app-input>
  <app-input controlName="achterNaam" placeholder="Achternaam" [group]="form" value="{{achterNaam}}"></app-input>
  <p>Geboorte datum</p>
  <app-input controlName="geboorteDag" placeholder="Dag" [group]="form" value="{{geboorteDag}}"></app-input>
  <app-input controlName="geboorteMaand" placeholder="Maand" [group]="form" value="{{geboorteMaand}}"></app-input>
  <app-input controlName="geboorteJaar" placeholder="Jaar" [group]="form" value="{{geboorteJaar}}"></app-input>
  <app-input controlName="telefoonNummer" placeholder="0641396022" [group]="form" value="{{telefoonNummer}}"></app-input>


  <cp-button (click)="submit()" buttonText="Opslaan" location="about/formflex"></cp-button>
  <cp-button buttonText="Annuleren" location=""></cp-button>


  <app-formdebug [group]="form"></app-formdebug>

</div>
</form>
