:host {
  color: darkslategray;
}

.hours {
  background-color: darkseagreen;
  height: 300px;
  width:600px;
  font-size: xx-large;
}

.euros {
  background-color: gold;
  height: 400px;
  width: 600px;
  font-size: x-large;
}
