<div>
  <div [routerLink]="['/shared/router-link-tester']" routerLinkActive="router-link-active" >router-link-tester</div>
  <div [routerLink]="['/config']" routerLinkActive="router-link-active" >config</div>
  <div [routerLink]="['/shared/release-notes']" routerLinkActive="router_link-active" >release-notes</div>
  <button [routerLink]="['/shared/file-not-found']" routerLinkActive="router_link-active">file-not-found</button>
  <button [routerLink]="['/shared/route-debug-root']" routerLinkActive="router_link-active">route-debug-root</button>
  <a [routerLink]="['/user/bob']" [queryParams]="{debug: true}" fragment="education">
    user bob
  </a>
  <a [routerLink]="['/user/henk']" [queryParams]="{debug: true}" queryParamsHandling="merge">
    user henk
  </a>
</div>


