<!-- All input elements will be demo-ed here so if you create a new one add it here -->
<form [formGroup]="aanmeldFormulier">
  <div fxLayoutWrap="row" fxLayout.xs="column" fxFlex="50%">
    <app-aanhef fxFlex="25%" [group]="aanmeldFormulier" [dataList]="aanheffingen"></app-aanhef> <!-- 100% -->
    <app-voorletters fxFlex="25%" [group]="aanmeldFormulier"></app-voorletters> <!-- 1 column -->
    <app-tussenvoegsel fxFlex="25%" [group]="aanmeldFormulier"></app-tussenvoegsel> <!-- 1 column -->

    <app-achternaam fxFlex="50%" [group]="aanmeldFormulier"></app-achternaam> <!-- 2 column -->
    <app-geboortedatum fxFlex="50%" [group]="aanmeldFormulier"></app-geboortedatum> <!-- 100% -->
  </div>
  <button mat-raised-button color="primary" style="margin-top: 12px; margin-bottom: 32px;">Opslaan</button>
  <app-formdebug [group]="aanmeldFormulier"></app-formdebug>
</form>
