<div class="g">
  <div class="gi b0_12 ">
  <div class="block mainSearch small smallSpace">
    <picture class="img"><source media="(min-width: 768px)" srcset="https://www.coop.nl/INTERSHOP/web/WFS/COOP-COOPBase-Site/nl_NL/-/EUR/dnz.imageresize-Resize50?img=COOP%3A%2Fheader%2Fmain_search_small_at2x.jpg, /INTERSHOP/static/WFS/COOP-COOPBase-Site/-/COOP/nl_NL/header/main_search_small_at2x.jpg 2x">
      <img srcset="https://www.coop.nl/INTERSHOP/web/WFS/COOP-COOPBase-Site/nl_NL/-/EUR/dnz.imageresize-Resize50?img=COOP%3A%2Fheader%2Fmain_search_small_at2x.jpg, /INTERSHOP/static/WFS/COOP-COOPBase-Site/-/COOP/nl_NL/header/main_search_small_at2x.jpg 2x" class="retina">
    </picture>
  </div>
</div>
</div>
