/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

$regularPadding:10px;

.regularHorizontalPadding {
  padding-left: $regularPadding;
  padding-right: $regularPadding;
  display:inline-block;
}

.regularVerticalPadding {
  padding-top: $regularPadding;
  padding-bottom: $regularPadding;
  display:inline-block;
}

.regularVerticalMargin {
  margin-top: $regularPadding;
  display:inline-block;
}



$color-brand-green-primairy: limegreen !default;
$color-brand-green-secondary: lightgreen !default;
$color-brand-green-accent: lightgreen !default;
$color-brand-white: white !default;
$color-brand-black: black !default;
$color-brand-gray: lightslategray !default;

@import "./shared/ui/icon-button/icon-button.component.themes";
@import "./app/hoursmade/working-period-page-layout/worked-period-header/worked-period-header.component.themes";

.regularBottomBorder {
  border-bottom: 1px solid $color-brand-green-primairy;
}

.regularDashedBottomBorder {
  border-bottom: 1px dashed $color-brand-green-primairy;
}
