<section id="section-period-footer">
  <div id="consultant-info">
    <div style="background-color:lightskyblue">{{signCityConsultant}}</div>
    <div style="background-color:lightgray">{{signingDateConsultant}}</div>
    <div style="background-color:lightblue">{{consultantName}}</div>
    <div style="background-color:lightcyan">Signature:</div>
  </div>

  <div id="manager-info">
    <div style="background-color:lightskyblue">{{signCityManager}}</div>
    <div style="background-color:lightgray">{{signingDateManager}}</div>
    <div style="background-color:lightblue">{{signingManager}}</div>
    <div style="background-color:lightcyan">Signature Client/Manager:</div>
  </div>

</section>
