<section id="section-period-footer">
  <div id="consultant-info">
    <div>
      <span style="border-bottom: 1px dashed green">{{signCityConsultant}}</span>&nbsp;-&nbsp;
      <span style="border-bottom: 1px dashed green">{{signingDateConsultant}}</span>
      <div style="border-bottom: 1px dashed green; height: 30px">Signature Employee:</div>
    </div>
  </div>

  <div id="manager-info">
    <div>
      <span style="border-bottom: 1px dashed green">{{signCityManager}}</span>&nbsp;-&nbsp;
      <span style="border-bottom: 1px dashed green">{{signingDateManager}}</span>
      <div style="height: 30px;">Signature Client / Manager:</div>
    </div>
  </div>

</section>
