<h2>Config Component!</h2>

<h3>CONFIG</h3>


    <section id="section-config">
      <!-- todo add input form here -->
      <form [formGroup]="userConfigForm" (ngSubmit)="this.submit()">
        <div>
          <label>username:></label>
          <input formControlName="userName">
        </div>
        <div>
          <label>default hours per day:></label>
          <input formControlName="hoursWorked">
        </div>
        <div>
          <label>Rate in Euros:></label>
          <input formControlName="rate">
        </div>
        <div>
          <label>Name of Project:></label>
          <input formControlName="projectName">
        </div>


        <div formGroupName="workDays">
            <div>ma</div><input formControlName="ma" placeholder="WorkDay">
            <div>di</div><input formControlName="di" placeholder="WorkDay">
            <div>wo</div><input formControlName="wo" placeholder="WorkDay">
            <div>do</div><input formControlName="do" placeholder="WorkDay">
            <div>vr</div><input formControlName="vr" placeholder="WorkDay">
            <div>za</div><input formControlName="za" placeholder="WorkDay">
            <div>zo</div><input formControlName="zo" placeholder="WorkDay">

          Chosen name: {{ userConfigForm.controls.workDays.controls.ma.value }}
        </div>

<!-- todo add selection of project to config page store using select box -->


        <button type="submit" (click)="this.submit()">submit</button>
      </form>
    </section>


<div>
  <div>Observable.IConfig:>{{ (this.userAppConfig$ | async) | json}}</div>
  <div>Config:>{{ (this.userAppConfig ) | json}}</div>
  <div>form content:>{{this.userConfigForm.value  | json}}</div>
  <div>form validity:>{{this.userConfigForm.valid}}}</div>
</div>


<!--
export interface Settings {
name: string;
hoursWorked: number;
workDays: number[];
rate: number;
projectName: string;
}

export interface Project {
name: string;
clientCode: string;
rate: number;
}

-->
